*{
	box-sizing: border-box;
}
body
{
	background-color: #8D6E63;
	font-family: Serif, Helvetica, Ariel;
}
h1,h3 {
	text-align: center;
	margin: 5px;
	font-style: italic;
	}
section{
	border: 3px solid black;
	margin:10px;
	font-size: 20px;
}

h2{
	position: absolute;
	top:10px;
	right:10px;
	text-align: center;
	padding:20px 10px;
	border: 3px solid black;
	margin: 0;
	height: 75px;
	width: 250px;
	font-size: 24px;
}
#long{  								/* to vertically align first section sub-heading */
	padding-top: 10px;
}
p{
	padding:75px 10px 10px;
	margin: 0;
	height: 125px;						/* to ensure size of all boxes are similar */
}
a:link, a:visited{
	color: #242424;
}
a:hover, a:active{
	text-decoration: bold;
	font-weight: bold;
	font-variant: small-caps;
}
ul{
	list-style-type: square;
	margin-top: 0 ;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
.set{									/* to stick heading to top-right of the box */
	position: relative;
}

/********** For Desktops and Laptops **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  body{
  	background-color: #808080;
  }
  h2{
  	background-color: #2E8B57;
  }
  #s1{
  	background-color: #DC143C;
  }
  #s2{
  	background-color: #008B8B;
  }
  #s3{
  	background-color: #B8860B;
  }
}

/********** For Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  body{
  	background-color: #708090;
  }
  h2{
  	background-color: #32CD32;
  }
  #s1{
  	background-color: #FF4500;
  }
  #s2{
  	background-color: #00CED1;
  }
  #s3{
  	background-color: #BDB76B;
  }
}
/********** For Mobile devices **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  body{
  	background-color: #B0C4DE;
  }
  h2{
  	background-color: #00FF00;
  }
  #s1{
  	background-color: #FF6347;
  }
  #s2{
  	background-color: #87CEFA;
  }
  #s3{
  	background-color: #FFFF00;
  }
}